@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! Welcome to my website!</h1>
    <p>Visit UK's website <a href="https://www.uky.edu/">here</a>.</p>
</div>
