@{
    ViewData["Title"] = "Fill Out Form";
}

<div id="content">
		<div id="main">
			<div id="left">
				<p>Kindly fill out the following form.</p>
				<form method="post">
					<label for="fn">First Name <span class="small-text">(letters only)</span></label>
					<input type="text" name="fn" id="fn" value="">

					<label for="ln">Last Name <span class="small-text">(letters only)</span></label>
					<input type="text" name="ln" id="ln" value="">

					<label for="p">Phone <span class="small-text">(format: 1234567890)</span></label>
					<input type="text" name="p" id="p" value="">

					<label for="ea">Email Address <span class="small-text">(format: a@a.a)</span></label>
					<input type="text" name="ea" id="ea" value="">

					<label for="sa">Street Address <span class="small-text">(format: 1 a a)</span></label>
					<input type="text" name="sa" id="sa" value="">

					<label for="c">City <span class="small-text">(letters only)</span></label>
					<input type="text" name="c" id="c" value="">

					<label for="s">State <span class="small-text">(letters only)</span></label>
					<input type="text" name="s" id="s" value="">

					<label for="zc">Zip Code <span class="small-text">(numbers only)</span></label>
					<input type="text" name="zc" id="zc" value="">
				</form>
				<button onclick="showInput()" type="button">Submit</button>
			</div>

			<div id="right">
				<p class="your-input">Your input:</p>
				<div id="name"></div>
				<div id="phone"></div>
				<div id="emailaddress"></div>
				<div id="streetaddress"></div>
				<div id="address"></div>
			</div>
		</div>
	</div>