@{
    ViewData["Title"] = "myInfo - myUK : University of Kentucky";
}


<div class="col-sm-10">
	<div class="form-section">
		<p>Kindly fill out the following form to make your changes. After clicking "Submit" you can view your information in the section above and confirm or discard your changes.</p>
		<form method="post" class="row gy-2 gx-3 align-items-center">
			<div class="input-group">
				<span class="input-group-text">First name</span>
				<input type="text" name="fn" id="fn" placeholder="First Name" aria-label="First name" class="form-control">
				<span class="input-group-text">Last name</span>
				<input type="text" name="ln" id="ln" placeholder="Last Name" aria-label="Last name" class="form-control">
			</div>

			<div class="input-group w-50">
				<span class="input-group-text">Phone</span>
				<input type="text" name="p" id="p" placeholder="Phone" aria-label="Phone" class="form-control">
			</div>

			<div class="input-group w-75">
				<span class="input-group-text">Email Address</span>
				<input type="text" name="ea" id="ea" placeholder="Email Address" aria-label="Email Address" class="form-control">
			</div>

			<div class="input-group w-75">
				<span class="input-group-text">Street Address</span>
				<input type="text" name="sa" id="sa" placeholder="Street Address" aria-label="Street Address" class="form-control">
			</div>

			<div class="input-group">
				<span class="input-group-text">City</span>
				<input type="text" name="c" id="c" placeholder="City" aria-label="City" class="form-control">
				<span class="input-group-text">State</span>
				<input type="text" name="s" id="s" placeholder="State" aria-label="State" class="form-control">
				<span class="input-group-text">Zip Code</span>
				<input type="text" name="zc" id="zc" placeholder="Zip Code" aria-label="Zip Code" class="form-control">
			</div>

			<input type="button" value="Submit" class="submitbtn" id="submit">
		</form>
	</div>
	<div class="input-section">
		<div id="name"></div>
		<div id="phone"></div>
		<div id="emailaddress"></div>
		<div id="streetaddress"></div>
		<div id="address"></div>
	</div>
</div>