<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] (InternshipHello)</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/InternshipHello.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/helloworldcss.css" asp-append-version="true" />
</head>
<body>

    <header>
		<hgroup>
			<div class="img"><img src="https://comm.uky.edu/sites/default/files/inline-images/my-UK.png" height="51.5" width="113.5"></div>
            <h2>myInfo - myInfo</h2>
            <div class="topnav">
                <a class="logout" href="#Log Out">Log Out</a>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search" name="search">
                        <input type="submit" value="Search" class="button" id="search">
                    </form>
                </div>
                <a class="divider" href="#myPage">myPage</a>
                <a class="active" href="#myInfo">myInfo</a>
                <a href="#myRecords">myRecords</a>
                <a href="#Admissions">Admissions</a>
                <a href="#myUKGPS">Degree Planning and Registration (myUKGPS)</a>
                <a href="#Financials">Financials</a>
                <a href="#UK Alert">UK Alert</a>
            </div>
		</hgroup>
	</header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <div id="footer">
        &copy; 2023 - InternshipHello
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/helloworldjs.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>