<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] (InternshipHello)</title>
    <link rel="icon" type="image/ico" href="~/favicon.ico">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/InternshipHello.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/helloworldcss.css" asp-append-version="true" />
</head>
<body>

    <partial name="_TopNav.cshtml" />

    <div>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <partial name="_SideNav.cshtml" />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <div id="footer">
        &copy; 2023 - InternshipHello
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/helloworldjs.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>