<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternshipHello</title>
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/InternshipHello.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/helloworldcss.css" asp-append-version="true" />
</head>
<body>
    <header>
		<hgroup>
			<img src="https://comm.uky.edu/sites/default/files/inline-images/my-UK.png" height="51.5" width="113.5">
			<h2>Fill Out Form</h2>
		</hgroup>
	</header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div>
            &copy; 2023 - InternshipHello
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/helloworldjs.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>