<div class="col-sm-2">
    <div class="nav flex-column">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
            <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
            <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
        </svg>
        <span class="navbar-text">Signed in as </span>
        <a class="nav-link logout" href="#Log Out">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
            </svg>
            Log Out
        </a>
        <hr>
        <a class="nav-link" href="#">myInfo</a>
        <a class="nav-link" href="#">myPasscode</a>
        <a class="nav-link" href="#">myProfile</a>
        <a class="nav-link" href="#">Academic Calendar</a>
        <a class="nav-link" href="#">Direct Deposit Info</a>
        <a class="nav-link" href="#">Link Blue Account Info</a>
        <a class="nav-link" href="#">UK Account Manager</a>
        <a class="nav-link" href="#">myAppointments</a>
        <a class="nav-link" href="#">Guest Access</a>
        <a class="nav-link" href="#">Campus Housing</a>
        <a class="nav-link" href="#">Undergrad Housing</a>
        <a class="nav-link" href="#">myOrgs</a>
        <a class="nav-link" href="#">Integrated Success Coaching</a>
        <a class="nav-link" href="#">Involvement and Volunteer Advising</a>
    </div>
</div>