body {
	background-color: #0032A0;
}

#content {
	display: box;
	display: -moz-box;
	display: -wekbit-box;
	display: -ms-box;

	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;

	font-size: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-ms-box-orient: horizontal;
}

#nav {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-color: blue;
	color: white;
	width: 15%;
}

#left {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-color: aliceblue;
	width: 60%;
}

#right {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-color: lightsteelblue;
	width: 25%;
}

header {
	display: block;
	text-align: center;
	background-color: #0032A0;
	color: white;
	padding: 0;
}

input {
	margin: 4px 0px 16px 0px;
	outline: none;
	padding: 8px;
	border: none;
	background-color: #E1E1E1;
	border-radius: 4px;
	color: black;
}

.btn, .button {
	background-color: #2904A4;
	color: white;
}

.button:hover {
	background-color: blue;
	color: white;
}

.btn:hover {
	background-color: #0032A0;
	color: white;
}

.divider {
	border-left: solid;
}

::selection {
	background: white;
	color: black;
}

#name, #phone, #emailaddress, #streetaddress, #address {
	font-weight: bold;
	font-size: 16px;
}

h2 {
	display: inline;
	text-align: center;
}

label, p {
	font-size: 16px;
}

p {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
}

.underline {
	text-decoration: underline;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
}

.navtext, .activetext {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 10px;
}

.activetext {
	color: white;
	background-color: gray;
}

#footer {
	position: static;
	display: block;
	text-align: center;
	background-color: #0032A0;
	color: white;
	padding: 0;
}

hgroup {
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: #0032A0;
	margin-bottom: 0;
}
  
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
	margin-bottom: 0;
}

.topnav a:hover {
	background-color: silver;
	color: black;
}

.topnav a.active {
	background-color: white;
	color: black;
}

.topnav a.logout {
	background-color: red;
	color: white;
	float: right;
}

.topnav .search-container {
	float: left;
	margin-bottom: 0;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	margin-bottom: 0;
}

#save {
    visibility: hidden;
}

.img {
	text-align: left;
	float: left;
}

.navbar-text {
	text-align: left;
	color: black;
	display: inline-block;
}

.navbar-text span {
	background-color: yellow;
	float: left;
	text-align: center;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

a:link {
	color: white;
}

a:visited {
	color: lightgray;
}

a:hover {
	color: lightsteelblue;
}

a:active {
	color: aliceblue;
}