body {
	background-color: aliceblue;
}

main {
	font-size: 16px;
}

header {
	display: block;
	text-align: center;
	background-color: #0033A0;
	color: white;
	padding: 0;
}

input, .input-group-text, .searchbtn {
	margin: 4px 0px 16px 0px;
	outline: none;
	border: none;
	border-radius: 4px;
	color: black;
}

.submitbtn, .searchbtn {
	background-color: #0033A0;
	color: white;
	border: none;
}

.searchbtn {
	background-color: blue;
	width: 20%;
}

.submitbtn {
	margin-left: 8px;
	width: 10%;
	padding: 10px 10px 10px 10px;
}

.submitbtn:hover {
	background-color: blue;
	color: white;
}

.searchbtn:hover {
	background-color: white;
	color: black;
}

.topnav .input-group.search {
	float: right;
	margin-right: 5px;
}

::selection {
	background: lightsteelblue;
	color: black;
}

#name, #phone, #emailaddress, #streetaddress, #address {
	font-weight: bold;
}

h2 {
	display: inline;
	text-align: center;
	margin-bottom: 25;
}

p {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
}

.nav-link {
	color: white;
}

.nav-link.active {
	color: white;
	background-color: gray;
}

.nav-link.logout {
	color: white;
	background-color: red;
	float: center;
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 70%;
}

.nav-link.logout:hover {
	color: white;
	background-color: pink;
}

.nav-link.logout:active {
	color: black;
	background-color: white;
}

.nav-link.active:hover, .nav-link:hover {
	color: black;
	background-color: white;
}

#footer {
	position: static;
	display: block;
	text-align: center;
	background-color: #0033A0;
	color: white;
	padding: 0;
}

hgroup {
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: #0033A0;
	margin-bottom: 0;
}
  
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-bottom: 0;
}

.topnav a:hover, .topnav a.active:hover {
	background-color: gray;
	color: white;
}

.topnav a.active {
	background-color: white;
	color: black;
}

.topnav .search-container {
	margin-bottom: 50;
	width: 32%;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	border: none;
}

.img {
	text-align: left;
	float: left;
	margin-right: 10px;
	padding-top: 10px;
}

.navbar-text {
	text-align: left;
	color: black;
	display: inline-block;
	background-color: yellow;
	text-align: center;
	padding: 0;
	margin-bottom: 10px;
	font-weight: bold;
}

.container {
	margin-left: 0;
}

.nav flex-column {
	background-color: blue;
	color: white;
}

.navbtns {
	float: left;
}

.form-section, .col-sm-10 {
	background-color: aliceblue;
}

.input-section {
	background-color: silver;
	text-align: center;
	font-size: 20px;
	margin: auto;
	width: 50%;
}

.col-sm-2 {
	background-color: blue;
	color: white;
}